body,#root {
    width: 100%;
    background-color: #161b22;
    
}

#dashboard{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 0 2rem;
    box-sizing: border-box;
    min-height: 100vh;
}

.left-panel,
.main-panel,
.right-panel {
    border: 3px solid white;
    border-radius: 10px;
    padding: 0.75rem;
}

.inp{
    height: 2rem;
    width: 13rem;
    text-align: center;
    border: 2px solid white;
    border-radius: 5px;
}

.inp:focus,
.inp:hover{
    border: 3px solid white;
}


@media (max-width: 768px) { 
    #dashboard{
        display: flex;
        flex-wrap: wrap;
    }

    .left-panel,
    .main-panel,
    .right-panel{
        height: 100%;
    }
}
